{% extends "blog/padre.html" %}
{% load static %}

{% block contenidoCambia %}
    <article class="articulo_detalle">
        <h1 class="titulo">{{articulo.titulo}}</h1>
        <h1 class="subtitulo">{{articulo.subtitulo}}</h1>
        <img src="{{ articulo.imagen }}" alt="">
        <p>{{articulo.contenido}}</p><br>
        <p>{{articulo.autor}}</p>
        <p>{{articulo.fecha}}</p><br>
        
        <a class="btn" href="{% url 'inicio' %}">
            <button>Regresar</button>
        </a>

        {% if request.user.is_authenticated %}
        <div>
            <div>
                <a class="btn" href="{% url 'eliminar' articulo.id %}">
                    <button>Eliminar</button>
                </a>
                <a class="btn" href="{% url 'editar' articulo.id %}">
                    <button>Modificar</button>
                </a>
            </div>
        </div>
        {% endif %}
    </article>
{% endblock %}